.container {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
h5 {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}
p {
  padding: 0.2rem 0;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 0.4rem 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}
li:hover {
  background-color: rgba(220, 220, 220, 0.5);
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-30 {
  margin-bottom: 30px;
}
